{% extends "base/auth_base.html" %}

{% block add_category %}

<form action="#" method="POST">
  {{form.hidden_tag()}}
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="{{editedCategory.name}}" />
      </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" name="description" id="description" placeholder="{{editedCategory.description}}"></textarea>
    </div>
    
    <div class="m-t-lg">
      <ul class="list-inline">
        <li>
          <input class="btn btn--form" type="submit" value="Edit" />
          <a class="btn btn--form" id="cancel" name="cancel" href="{{url_for('category')}}">Cancel </a>
        </li>        
      </ul>
    </div>
  </form>

{% endblock %}