{% extends "base/base.html" %}

  
{% block item_list %}
<section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
            {% if (categories == []) %}
            <h1>No Category present at the moment...</h1>

            {% if current_user.is_authenticated %}  
                <a class="btn btn btn-outline-warning my-2 my-sm-0" href="{{url_for('addCategory')}}">Add Category</a>
              {% endif %}
          {% endif %}
          <p class="lead">
              <a class="btn btn-primary btn-lg" href="{{url_for('addItem', category_name=category_name)}}" role="button">Add New Item</a>
            </p>
          {% for item in items %} 
                <div class="col-lg-12 ">
                  <div class="jumbotron">
                    <h1 class="display-4">{{item.title}}</h1>
                    <p class="lead">{{item.description}}</p>
                    <hr class="my-4">
                    <p class="lead">
                      <a class="btn btn-warning btn-lg" href="#" role="button">Edit</a>
                      <a class="btn btn-danger btn-lg" href="#" role="button">Delete</a>
                    </p>
                  </div>
                </div>

          {% endfor %}
          </div>
      </div>
    </div>
  </section>
{% endblock %}