{% extends "base/base.html" %}

  
{% block category_list %}
    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">

          {% if (items == []) %}
            <h1>No Item present at the moment...</h1>
        <br />
            <ul class="list-inline">
              <li>
                {% if current_user.is_authenticated %}  
                <a class="btn btn btn-outline-warning my-2 my-sm-0" href="{{url_for('addItem', category_name=category.name)}}">Add Item</a>
                {% endif %}
      
              </li>        
            </ul>

          {% endif %}
         
          {% for item in items %} 
          <div class="col-lg-8 ">
            <div class="jumbotron">
              <h1 class="display-4">{{item.title}}</h1>
              <p class="lead">{{item.description}}</p>
              <hr class="my-4">
              <p class="lead">
                <a class="btn btn-warning btn-lg" href="#" role="button">Edit</a>
                <a class="btn btn-danger btn-lg" href="#" role="button">Delete</a>
              </p>
            </div>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </section>
{% endblock %}