{% extends "base/base.html" %}

  
{% block category_list %}
    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
             
          {% if (categories == []) %}
            <h1>No Category present at the moment...</h1>

            {% if current_user.is_authenticated %}  
                <a class="btn btn btn-outline-warning my-2 my-sm-0" href="{{url_for('addCategory')}}">Add Category</a>
              {% endif %}
          {% endif %}
         
          {% for category in categories %} 
                <div class="col-lg-12 ">
                  <div class="jumbotron">
                    <h1 class="display-4">{{category.name}}</h1>
                    <p class="lead">{{category.description}}</p>
                    <hr class="my-4">
                    <p class="lead">
                      <a class="btn btn-info btn-lg" href="{{url_for('item', category_name=category.name)}}" role="button">View Items</a>
                      <a class="btn btn-warning btn-lg" href="{{url_for('editCategory', category_name=category.name)}}" role="button">Edit</a>
                      <a class="btn btn-danger btn-lg" href="#" role="button">Delete</a>
                    </p>
                  </div>
                </div>

          {% endfor %}
           
        </div>
      </div>
    </section>
{% endblock %}