{% extends "base.html" %}

  
{% block category_list %}
    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          {% for category in categories %}

          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>{{category.name}}</h3>
              <p class="lead mb-0">{{category.description}}</p>
            </div>
          </div>

          {% endfor %}
          
        </div>
      </div>
    </section>
{% endblock %}